* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    padding-top: 250px;
    padding-bottom: 200px;
    font-size: 42px;
}

.page-break-after-always {
    page-break-after: always;
}

.page-break-after-auto {
    page-break-after: auto;
}

.page-break-before-always {
    page-break-before: always;
}

.page-break-before-auto {
    page-break-before: auto;
}

.page {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0 0 0 1em;
    padding: 0;
}

.campaign-introduction {
    text-align: justify;
    margin: 10px;
}

.no-padding {
    padding: 0 !important;
}

.cover-page-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    margin-top: -250px;
}

.power-control-monochrome {
    /* color: white; */
    height: 136px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.cover-page-logo {
    position: absolute;
    top: -100px;
    left: 166px;
    height: 163px;
}

.first-section-text {
    position: absolute;
    font-family: Tahoma;
    font-size: 34px;
    /* top: 344.01px; */
    top: 94.01px;
    left: 164.59px;
}

.first-section-text p {
    margin-bottom: 10px;
}

.second-section-text {
    position: absolute;
    left: 43px;
    right: -43px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.campaign-informations {
    position: absolute;
    left: 135.18px;
    /* top: 1760.36px; */
    top: 1510.36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
}

.year {
    position: absolute;
    left: 2024.28px;
    /* top: 1743.24px; */
    top: 1493.24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 144px;
    font-weight: bold;
    color: #fcfcfc;
}

.report-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 1880px;
    /* top: 2500px; */
    top: 2250px;
    transform: translateY(-50%);
    color: #fcfcfc;
    font-size: 90px;
}

.report-title b {
    letter-spacing: 15px;
}

.box {
    background-color: #009891;
    height: 111px;
    color: #fcfcfc;
    font-weight: bold;
    padding: 20px 40px;
}

.box.agency {
    position: absolute;
    left: 1100px;
    /* top: 2650px; */
    top: 2400px;
    width: 100%;
    font-size: 80px;
}

.box.agency .reference {
    font-weight: normal;
    position: absolute;
    bottom: -80px;
    font-size: 60px;
}

.box.agency .date {
    font-weight: normal;
    position: absolute;
    bottom: -80px;
    font-size: 60px;
    left: 30%;
}

.controlled_by {
    height: 70px;
    position: absolute;
    left: 450px;
    /* top: 2950px; */
    top: 2700px;
    width: auto;
    font-size: 50px;
    color: #fcfcfc;
}

/* .box.controller {} */

.validated_by {
    height: 70px;
    position: absolute;
    left: 450px;
    /* top: 2950px; */
    top: 2750px;
    width: auto;
    font-size: 50px;
    color: #fcfcfc;
}

.controlled_by,
.validated_by {
    font-weight: normal;
    position: absolute;
    bottom: -130px;
    right: 0;
}


.page-header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    height: 200px;
    /* background-color: red; */

    /** Extra personal styles **/
    /* background-color: #03a9f4; */
    vertical-align: middle;
}

.page-header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    /* height: 1px; */
    height: 0.03cm;
    transform: translateX(-50%);
    background-color: #b18028;
}

.page-header::after {
    content: '';
    position: absolute;
    bottom: -.07cm;
    right: 10%;
    width: 1.25cm;
    /* height: 1px; */
    height: 0.09cm;
    transform: translateY(-50%);
    background-color: #056551;
}

.page-header .bna-logo {
    position: absolute;
    top: 50%;
    /* left: 20%; */
    transform: translateY(-50%);

    height: 120px;
    /* height: 1.07cm; */
}

.page-header .text-content {
    position: absolute;
    right: 10%;
    top: 50%;
    /* left: 20%; */
    transform: translateY(-50%);
    text-align: right;
    font-size: 36px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 200px;

    color: white;
    line-height: 35px;
}

.page-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    /* height: 1px; */
    height: 0.03cm;
    transform: translateX(-50%);
    background-color: #b18028;
}

.page-footer::after {
    content: '';
    position: absolute;
    top: .01cm;
    right: 10%;
    width: 1.25cm;
    /* height: 1px; */
    height: 0.09cm;
    transform: translateY(-50%);
    background-color: #056551;
}

.page-footer .app-brand {
    position: absolute;
    top: 50%;
    /* left: 20%; */
    transform: translateY(-50%);

    /* height: 32px; */
    height: 1.07cm;
}

.page-footer .pagenum:before {
    display: block;
    content: counter(page);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    /* border: 1px solid #125741; */
    /* border-radius: 50%; */
    font-weight: bold;
    color: #125741;

    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.page-footer .page-number-container {
    display: inline-block;
    padding: 5px;
    border: 1px solid #125741;
    border-radius: 50%;
}

.page-body {
    /* background-color: red; */
    padding-top: 20px;
    padding-bottom: 10px;
    page-break-after: always;
    /* width: 95%;
    margin: 0 auto; */
}

.table-container {
    position: relative;
    margin: 40px 0;
    width: 100%;
    page-break-before: auto
}

table {
    position: relative;
    display: table;
    border: 2px solid #BFBFBF;
    width: 100%;
    page-break-before: auto;
    border-spacing: 0;
    font-size: 42px;
}

caption {
    margin-top: 10px;
    border: 1px solid #BFBFBF;
    border-bottom: none;
    padding: 10px 8px;
    font-size: 42px;
    page-break-after: avoid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

caption.is-success {
    background-color: #125741;
    color: #fcfcfc;
}

caption.is-danger {
    background-color: #CC0000;
    color: #fcfcfc;
}

caption.is-anomaly {
    background-color: #ffbb33;
    color: #000000;
}

tr {
    page-break-inside: avoid;
    page-break-after: avoid;
}

tr:last-child {
    border: none !important;
}

tr.metadata-row td,
tr.metadata-row th {
    position: relative;
    border: none;
}

tr.metadata-row.border-bottom td,
tr.metadata-row.border-bottom th {
    border-bottom: 1px solid #BFBFBF;
}

.margin-cell {
    width: 5px !important;
    max-width: 5px !important;
}

.metadata-row .margin-cell {
    border: none !important
}

.metadata-row.border-bottom:last-child {
    border: none !important
}

th {
    text-align: left;
    width: 20%;
    border-bottom: 1px solid #BFBFBF;
    /* border-right: 1px solid #BFBFBF; */
    white-space: nowrap;
}

td {
    text-align: justify;
    width: 100%;
    border-bottom: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
}

th,
td {
    padding: 10px 20px;
}

.text-danger {
    color: #CC0000;
}

.bg-gray {
    background: #BFBFBF;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
