/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/dist

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.ec69008394c5046c2cd04dd83d0fa8f565bb53f6635f88409d566786708cbbed
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
