$td-padding: .5rem 1rem
$th-padding: 1rem
$table-shadows: 0px 0px 0.7px -2px rgba(0, 0, 0, 0.024), 0px 0px 2px -2px rgba(0, 0, 0, 0.035), 0px 0px 4.8px -2px rgba(0, 0, 0, 0.046),0px 0px 16px -2px rgba(0, 0, 0, 0.07)
$table-align: center
$table-radius: 6px
$table-border: $grey
$link-active-bg: $primary
$link-active-color: $white
$link-active-opacity: .5
$cell-font-size: 1rem
$cell-btn-padding: 0 .3rem
$cell-min-width: 100px
$cell-max-width: 500px

.table-container
    position: relative
    width: 100% !important
    min-height: 200px
    margin: 1em 0
    color: $dark
    overflow: auto

table
    table-layout: auto
    width: 100%
    // margin: 1em 0
    min-width: $mobile
    color: $dark
    border-collapse: collapse
    & th
        display: none
    & td
        position: relative
        display: block
        &:before
            content: attr(data-th)
            font-weight: bold
            width: 100%
            display: block
    & th,
    & td
        position: relative !important
        margin: 0.5em 1em
        font-size: $cell-font-size
        width: auto
        min-width: $cell-min-width
        max-width: $cell-max-width
        &.cell-actions
            max-width: 200px
            padding: $td-padding
            & .btn
                border: none transparent
                background-color: transparent
                padding: $cell-btn-padding
                font-size: $cell-font-size
                box-shadow: none !important
                &:hover
                    border: none !important
                    background-color: none !important
                    box-shadow: none !important
            @each $color in $colors-list
                & .btn-#{nth($color, 1)}
                    background-color: transparent
                    border: none
                    color: nth($color, 2)
                    &:hover
                        background-color: transparent
                        border: none
                        color: darken(nth($color, 2), 20%)
                        box-shadow: none
    & tbody
        & tr
            background-color: $white
            border-bottom: 1px solid $table-border
            &:nth-child(odd)
                background-color: transparent
            &:hover
                background-color: rgba($primary-extra-light,.4)
                color: $dracula
.pagination
    maring: 0 1rem
    width: 100%
    & .btn
        &.is-active
            background-color: $primary
            cursor: not-allowed
            color: $light

.table-loader-container
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem
    width: 100%
    min-height: 200px
    height: 100%
    background-color: rgba($primary,.4)
    border-top-left-radius: $table-radius
    border-top-right-radius: $table-radius
    user-select: none
    z-index: 4

.table-loader
    animation: spinAround .5s infinite linear
    position: relative
    height: 3rem
    width: 3rem
    border-radius: 50%
    border: .25rem solid $light
    border-right-color: transparent
    border-top-color: transparent

.table-loader-text
    color: $light
    font-weight: bold
    letter-spacing: 1px

@keyframes spinAround
    from
        rotate: 0
    to
        rotate: 360deg

/* Responsive media */

@media (min-width: $tablet)
    table
        position: relative
        border-radius: $table-radius
        box-shadow: $table-shadows
        & td, & th
            vertical-align: middle
            display: table-cell
            border-left: 1px solid $table-border !important
            &:first-child
                border: none
            &:before
                display: none
        & th
            position: sticky !important
            top: 0 !important
            z-index: 1
            background-color: $primary
            color: $white
            padding: $th-padding
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4)
            font-weight: bolder
            &:first-child
                border-top-left-radius: $table-radius
                border: none !important
            &:last-child
                border-top-right-radius: $table-radius
        & td
            padding: $td-padding
            &:last-child
                border: 1px solid $table-border
        & tbody
            overflow: hidden
        & tr
            padding: .6em !important
    .pagination
        flex-direction: row
