.tags
    margin: 0
    display: flex
    justify-content: start
    align-items: center
    flex-wrap: wrap
    gap: .5rem
    &.is-even
        .tag
            flex: 1 0 21%
.tag
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    gap: .5rem
    padding: 10px
    background-color: $primary-light
    color: darkOrWhiteFont($primary-light)
    border-radius: 4px
    text-align: center
    height: 40px
    min-width: 50px
    width: auto
    word-break: break-all
    white-space: nowrap
    &.is-centered
        justify-content: center
    &.is-start
        justify-content: start
    &:first-child
        margin: 0
    @each $value in $colors-list
        $color: nth($value, 2)
        &.is-#{nth($value, 1)}
            border: 1px solid $color
            background-color: $color
            color: darkOrWhiteFont($color)
    & .close
        cursor: pointer
        &:hover
            color: $danger

.btn-tag
    padding: 7px 10px !important
    border-color: $primary !important
